/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Global*/
html {
  font-size: 18px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

/* Flex*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: black;
}

.outer-box {
  border: 1px solid #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-top: 3rem;
}

.outer-box h1 {
  color: #ec5454;
  margin: 2rem auto;
}

/* 2D Cube*/
.inner-box1 {
  width: 100%;
  height: 75vh;
}

.inner-box1:hover {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  cursor: pointer;
}

.inner-box1 .cube-2d {
  left: 40%;
  top: 10rem;
  position: relative;
}

.inner-box1 .cube-2d .side {
  position: absolute;
  height: 100px;
  width: 100px;
}

.inner-box1 .cube-2d .top {
  background: #da4925dd;
  -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
          transform: rotate(-45deg) skew(15deg, 15deg);
}

.inner-box1 .cube-2d .left {
  background: #c5241fcc;
  -webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
          transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.inner-box1 .cube-2d .right {
  background: #c0270cee;
  -webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
          transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* 3D Cube */
.inner-box2 {
  width: 100%;
  height: 75vh;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.inner-box2:hover {
  cursor: pointer;
}

.inner-box2:hover .cube {
  -webkit-transform: translateZ(-100px) rotateY(90deg);
          transform: translateZ(-100px) rotateY(90deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.inner-box2 .face-front {
  background-color: rgba(237, 73, 73, 0.7);
}

.inner-box2 .face-back {
  background-color: rgba(124, 232, 78, 0.7);
}

.inner-box2 .face-right {
  background-color: rgba(251, 238, 75, 0.7);
}

.inner-box2 .face-left {
  background-color: rgba(108, 248, 252, 0.7);
}

.inner-box2 .face-top {
  background-color: rgba(87, 108, 251, 0.7);
}

.inner-box2 .face-bottom {
  background-color: rgba(230, 124, 254, 0.7);
}

.inner-box2 .scene {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-top: 10rem;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.inner-box2 .cube {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.inner-box2 .face {
  font-size: 2rem;
  color: #ffffff;
  width: 200px;
  height: 200px;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.inner-box2 .face-front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
}

.inner-box2 .face-right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.inner-box2 .face-back {
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
}

.inner-box2 .face-left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}

.inner-box2 .face-top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

.inner-box2 .face-bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}
/*# sourceMappingURL=style.css.map */